
html{
    font-size: 16px;
}
body{
    padding: 0;
    margin: 1rem 0;
    background-color: #D6D6D6;
    font-size: 16px;
}
h1{
    color: #563D3D;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    word-spacing: 0.3rem;
}
p{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    color: #896060;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 2rem;
}
footer{
    border-bottom: 3px solid #888888;
    padding-bottom: 2rem;
    margin-bottom: 0.5rem;
    border-top: 4px solid #888888;
    margin-top: 0.5rem;
}
#parallax1{
    /* The image used */
  background-image: url(img/tesla.jpg);

  height: 600px;
  margin: 0;
  padding: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
    border-top: 7px solid #888888;
    border-bottom: 7px solid #888888;
    background-color: #3D3D3D;
}
nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
nav li{
    flex-basis: 10%;
    border: 2.5px solid #D6D6D6;
    border-radius: 10px;
    text-align: center;
    
    color: #D6D6D6;
    background-color: #896060;
    font-size: 1.2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
nav li:hover{
    background-color: #D6D6D6;
    color: #896060;
}
nav a{
    text-decoration: none;
    color: inherit;
    border: 2.5px dotted #D6D6D6;
    border-radius: 10px;
    display: block;
    margin: 0;
    padding: 1rem 0.5rem;
}


h2{
    text-align: center;
    margin: 0.5rem 0rem 1.5rem 0rem;
    padding: 2rem;
    color: #896060;
    font-size: 2rem;
    font-family: 'Monoton', cursive;
    font-weight: 300;
    word-spacing: 0.3rem;
    border-top: 3px solid #888888;
}
table{
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-bottom: 2rem;
    border-bottom: 3px dashed #888888;
}
tr{
    padding: 0 0 0.2rem 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}
th{
    text-align: center;
    border: 5px dotted #888888;  
    flex-basis: 25%;  
    margin: 0;
    padding: 0.75rem 0;
    border-radius: 20px;
    background-color: #3D3D3D;
    color: #D6D6D6;
}
td{
    flex-basis: 30%;
    text-align: center;
    font-weight: bold;
}

#family{
    background-color: #563D3D;
    margin: 3rem 15% 5rem 15%;
    text-align: center;
    padding: 1rem 3rem 3rem 3rem ;
    border-radius: 20px;
    background-image: radial-gradient(circle, #896060 30% ,#D6D6D6 );
}
h3{
    font-family: 'Monoton', cursive;
    font-size: 1.7rem;
    font-weight: 300;
    color: #D6D6D6;
    word-spacing: 0.3rem;
}
#family img{
    width: 50%;
    border: 7px dotted #563D3D;
}

#social{
   border-top: 3px solid #888888;
}
#social h2{
    padding: 1rem 0;
    background-color: #3D3D3D;
    border: none;
    font-weight: 100;
    color: #bda1a1;
}
#social p{
    color: #563D3D;
}
#social ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 0 2rem 0;
}
#social i{
    color: #896060;
    font-size: 2.5rem;
    display: block;
    padding: 1rem;
}
#social li{
    padding: 0;
    margin: 0;
    margin: 1rem;
    text-align: center;
    display: inline-block;
    width: 5rem;
}
#social a{
    display: block;
    text-decoration: none;
}
#social i:hover{
    background-color: #896060;
    color: #bda1a1;
    border-radius: 50%;
}

/* css for the gallery */
.swiper-container{
    background-color: #888888;
    margin-top: 0;
    padding: 2rem 0;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    height: 40rem;
    border: #D6D6D6 5px solid;
    border-radius: 20px;
}

.swiper-button-prev {
    color: #D6D6D6;
    font-weight: 900;
    margin-left: 2rem;
}

.swiper-button-next {
    color: #D6D6D6;
    font-weight: 900;
    margin-right: 2rem;
}

#connected-to-gallery{
    background-color: #888888;
    margin-bottom: 0;
    color: #D6D6D6;
}

/* code for the language section of accomplishments */

.languages {
    background-color: transparent;
    padding: 1rem 0 3rem 0;
    text-align: center;
}

.ball {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #bda1a1;
    width: 7.5rem;
    height: 7.5rem;
    padding: 0;
    margin: 1rem;
    color: #3D3D3D;
    border: 0.4rem solid #563D3D;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: grab;
    cursor: -webkit-grab;
    box-shadow: 1rem 1rem 1rem 0.1rem rgba(86, 61, 61, 0.6);
}


#connected-to-languages {
    background-color: #896060;
    color: #D6D6D6;
    margin: 2rem 0 0 0;
    display: block;
}

.levels {
    position: absolute;
    width: 100vw;
    z-index: -1;
    background-color: #896060;
    padding: 1rem 0 3rem 0;
    text-align: center;
}



.inner-ball {
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #896060;
    width: 7.5rem;
    height: 7.5rem;
    padding: 0;
    margin: 1rem;
    color: #D6D6D6;
    border: 0.4rem solid #896060;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.subtext {
    background-color: #896060;
    color: #D6D6D6;
    margin-top: 0;
    padding-bottom: 2rem;
}

#other-accomplishments {
    background-color: #563D3D;
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#other-accomplishments h2 {
    color: #D6D6D6;
}

#other-accomplishments img {
    height: 30rem;
    margin: 0.5rem;
}

/* For hobbies: */

.heading-of-slides {
    color: #D6D6D6;
    padding: 0;
    margin: 0;
}

.gallery2 img {
    height: 30rem;
}
.gallery2 p {
    color: #563D3D;
}
.yoga-small {
    display: none;
}
#passions {
    background-color: #bda1a1;
    padding: 0.5rem 2rem 1rem 2rem;
}
#connected-to-passions {
    background-color: #bda1a1;
    margin-bottom: 0;
    margin-top: 2rem;
}
.passion-section{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 2rem;
}
.giphy-embed{
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 35rem;
    height: 14rem;
}
.giphy-img {
    display: none;
}
.passion-img{
    flex-basis: 50%;
    vertical-align: middle;
    height: 14rem;
    text-align: center;
}
.passion-img img{
    height: inherit;
}
.passion-p{
    flex-basis: 50%;
}
.align-left{
    padding-left: 2rem;
    text-align: left;
}
.align-right {
    text-align: right;
    padding-right: 2rem;
}

#swimming .passion-img {
    flex-basis: 61%;
}
#swimming .passion-p{
    flex-basis: 39%;
}
#swimming .align-left{
    padding-left: 0.5rem;
    text-align: left;
}

 @media (max-width: 8.5in) and (min-width: 6.5in){
    html, body{
         font-size: 75%;
     }
     #family img{
         width: 70%;
     }
     .swiper-slide img{
        height: 20rem; 
    }
    #other-accomplishments img {
        height: 20rem;
    }
     #parallax1{
         height: 400px;
     }
     .h1-acc {
         font-size: 2.5rem;
     }
     .passion-img {
        height: 12rem;
     }
     .giphy-embed {
        display: none;
     }
     .giphy-img {
         display: block;
     }
     .passion-p p {
         font-size: 1.2rem;
         margin: 0;
     }
     .align-left {
        padding-right: 0;
     }
     .passion-p h3 {
         margin-bottom: 0.5rem;
         margin-top: 0;
     }
 }

 @media (max-width: 6.5in){
    html, body{
         font-size: 75%;
     }
     #family img{
         width: 70%;
     }
     .swiper-slide img{
        height: 20rem; 
    }
    .yoga {
        display: none;
    }
    .yoga-small {
        display: inline-block;
    }
    #other-accomplishments img {
        height: 20rem;
    }
     #parallax1{
         height: 400px;
     }
     .h1-acc {
         font-size: 2.5rem;
     }
     #physics .passion-img {
        height: 7rem;
     }
     .passion-img {
         height: 7rem;
     }
     .giphy-embed {
        display: none;
     }
     .giphy-img {
         display: block;
     }
     .passion-p p {
         font-size: 1rem;
         margin: 0;
     }
     .align-left {
        padding-right: 0;
     }
     .passion-p h3 {
         margin-bottom: 0.5rem;
         margin-top: 0;
     }
     #swimming .passion-img {
        height: 7rem;
    }
    #swimming .passion-img img{
        margin: 0;
        padding: 0;
    }
 }